---
import Section from '$/components/atoms/Section.astro';
---

<Section>
  <footer class="border-t border-gray-600 pt-5">
    <span class="text-sm text-gray-200">
      © {new Date().getFullYear()} by bennetr.
      Design by <a class="text-cyan-400 hover:underline" href="https://creativedesignsguru.com" target="_blank" rel="noopener noreferrer">CreativeDesignsGuru</a>.
    </span>
  </footer>
</Section>
