---
import Section from '$/components/atoms/Section.astro';
import {default as GT} from '$/components/atoms/GradientText.astro';
---

<Section>
  <h1 class="text-3xl font-bold">
    Hi there, I'm <GT>bennetr</GT>!
  </h1>

  <p class="mt-6 text-xl leading-9 w-2/3">
    I'm a 19-year-old developer from Germany, currently studying computer science at HS Coburg.
  </p>
</Section>
