---
import Section from '$/components/atoms/Section.astro';
import NavbarItem from '$/components/molecules/NavbarItem.astro';
---

<Section>
  <nav class="flex justify-end gap-x-3 font-medium text-gray-200">
    <NavbarItem url="/blog/" title="Blog"/>
    <NavbarItem url="https://github.com/bennetrr" title="GitHub"/>
  </nav>
</Section>
