---
interface Props {
  url: string;
  title: string;
  newTab?: boolean;
}

const {url, title, newTab} = Astro.props;
---

<a href={url} target={newTab ? '_blank' : '_self'}>
  <span class="hover:text-white">
    {title}
  </span>
</a>
