.recipeTags {
  margin: 0 auto 10px 10px;
  font-size: 10px;
}

.recipeCategory {
  margin: 10px auto 0 10px;
  font-size: 10px;
}

.recipeTitle {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.recipeAmount {
  font-weight: lighter;
}
